body {
    width: 60%;
    margin: 20px auto;
    background: rgb(254, 248, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

figcaption {
    font-style: italic;
}

h2 {
    font-size: 38px;
}

ul, ol {
    background: rgb(250, 232, 254);
    border-radius: 10px;
    padding: 40px 80px;
}

ul li, ol li {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 1.8;
}

img {
    width: 500px;
    border-radius: 10px;
}

img, figcaption {
    margin-left: -40px;
}

a {
    display: inline-block;
    border: 1px solid black;
    padding: 20px 10px;
    margin-top: 10px;
    color: black;
    font-size: 24px;
    text-decoration: none;
}

a:hover {
    background: black;
    color: white;
    text-decoration: none;
}